<h1>Listing products</h1>

<% products = Product.includes(:user).all %>
<ul>
  <% products.each do |product| %>
    <li>
      Products Name: "<%= product.name %>" costs $<%= product.price %>
      Sold by '<%= product.user.name %>'
    </li>
  <% end %>
</ul>
